<ion-view view-title="Shows">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="show in shows" type="item-text-wrap">
        <img ng-src="{{show.artist_image}}">
        <h2>{{show.artistexpand_value}}</h2>
        <p>{{show.tags}}</p>
        <a href="#/tab/shows/{{show.id}}">More info</a>
        
        <i class="icon ios ion-play" ng-show="!playing" ng-click="playStream(show)"></i>
        <i class="icon ios ion-pause" ng-show="playing" ng-click="pauseStream(show)"></i>


     
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
